.header {
    background-color: #fff;
    padding: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    position: sticky;
    top: 0;
    margin-left: 80px;
    padding: 0 16px 0 16px;
    display: flex;
    justify-content: space-between;
    z-index: 50;
    align-items: center;
    transition: all ease 0.2s;

    @include responsive(xl-screen) {
        padding: 0 24px 0 24px;
    }

    &.active {
        margin-left: 0px;

        @include responsive(xl-screen) {
            margin-left: 250px;
        }
    }

    &__select {
        width: 250px;
    }

    &__menu {
        &-toggle {
            display: block;
            padding: 0 !important;

            @include responsive(xl-screen) {
                display: none;
            }
        }
    }

    &__profile {
        background-color: $secondary-400;
        padding: 0.5rem;
        height: 40px;
        cursor: pointer;
        border-radius: 24px;
        @include flex-center();
        @include border(1px, $primary);

        img {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            object-fit: cover;
        }

        &-name {
            font-size: 14px;
            margin-left: 0.5rem;
        }

        &-arrow {
            font-size: 12px;
            margin-left: 0.5rem;
        }
    }
}
